/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 0px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #fcfcf7;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #fcfcf7;
    border-radius: 0px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fcfcf7;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Workbench";
  src: url("../public/fonts/Workbench-Regular.ttf");
}

@font-face {
  font-family: "Playfair";
  src: url("../public/fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: "PlayfairB";
  src: url("../public/fonts/PlayfairDisplay-Black.ttf");
}